.single-good {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgba(255, 255, 255, 0.70);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.single-good .image-wrapper .cart-img {
    height: 160px;
    width: 122px;
}

.item-info {
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between;
    margin-left: 10px;
    gap: 20px;
}

.item-info .item-title {
    display: block;
    min-width: 6em;
    max-width: 24em;
    width: 100%;
}

.item-info .item-title span:hover {
    cursor: pointer;
    color: #09d3ac;
}

.item-info span:last-child {
    min-width: 38px;
    text-align: end;
}

.delete-button {
    height: 26px;
    width: 26px;
    color: rgb(195, 195, 195);
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    transition: .3s ease-in-out;
}

.delete-button:hover {
    color: gray;
}

@media (max-width: 700px) {

    .item-info {
        gap: 40px;
    }
}

@media (max-width: 420px) {

    .single-good {
        padding: 5px 5px;
    }

    .single-good .image-wrapper .cart-img {
        height: 120px;
        width: 85px;
    }

    .item-info {
        gap: 30px;
    }
}

@media (max-width: 350px) {
    .item-info .item-title {
        min-width: 6em;
    }

    .item-info span:last-child {
        text-align: start;
    }
}